*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poiret One', cursive;
    overflow-x: hidden;
    background-color: #000000;
}

html * {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style-type: none;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

main {
    position: relative;
    z-index: 2;
    height: 100vh;
    -webkit-overflow-scrolling: touch;
    padding: 200px 5%;
    background-color: #000000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.intro {
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.safari .intro {
    height: 100%;
    width: 100%;
    display: table;
    position: relative;
}

.intro-body {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #FFD800;
}

.intro-body > h1 {
    font-size: 60px;
    font-weight: bolder;
}

.list-inline {
    padding-top: 50px;
}

.list-inline > li > a {
    color: #FFD800;
}

.list-inline > li:nth-child(1) > a:hover,
.list-inline > li:nth-child(1) > a:focus {
    color: #3b5999;
}

.list-inline > li:nth-child(2) > a:hover,
.list-inline > li:nth-child(2) > a:focus {
    color: #55acee;
}

.list-inline > li:nth-child(3) > a:hover,
.list-inline > li:nth-child(3) > a:focus {
    color: #3f729b;
}

.navigation-is-open main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

.nav-trigger {
    position: fixed;
    z-index: 3;
    left: 5%;
    top: 20px;
    height: 54px;
    width: 54px;
    background-color: #090C17;
    border-radius: 50%;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.nav-trigger .nav-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #ffffff;
}

.nav-trigger .nav-icon::before,
.nav-trigger .nav-icon:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
    -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
    transition: transform 0.5s, width 0.5s, top 0.3s;
}

.nav-trigger .nav-icon::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}

.nav-trigger .nav-icon::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}

.no-touch .nav-trigger:hover .nav-icon::after {
    top: 2px;
}

.no-touch .nav-trigger:hover .nav-icon::before {
    top: -2px;
}

.nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-trigger circle {
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s;
}

.navigation-is-open .nav-trigger .nav-icon::after,
.navigation-is-open .nav-trigger .nav-icon::before {
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s;
    -moz-transition: -moz-transform 0.5s, width 0.5s;
    transition: transform 0.5s, width 0.5s;
}

.navigation-is-open .nav-trigger .nav-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navigation-is-open .nav-trigger .nav-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.no-touch .navigation-is-open .nav-trigger:hover .nav-icon::after,
.no-touch .navigation-is-open .nav-trigger:hover .nav-icon::before {
    top: 0;
}

.navigation-is-open .nav-trigger circle {
    stroke-width: 2;
    stroke-dashoffset: 0;
    overflow-y: scroll;
    -webkit-transition: stroke-dashoffset 0.4s 0.3s;
    -moz-transition: stroke-dashoffset 0.4s 0.3s;
    transition: stroke-dashoffset 0.4s 0.3s;
}

@media only screen and (min-width: 1170px) {
    .nav-trigger {
        top: 40px;
    }
}

.nav {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
}

.nav .navigation-wrapper {
    height: 100%;
    background-color: #090C17;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.navigation-is-open .nav {
    visibility: visible;
    overflow-y: visible;
    /*Important*/
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}

.navigation-is-open .nav .navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.nav h2 {
    position: relative;
    margin-bottom: 1.7em;
    font-size: 1.3rem;
    font-weight: 800;
    color: #FF522B;
    text-transform: uppercase;
}

.nav h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 1px;
    width: 60px;
    background-color: currentColor;
}

.nav .primary-nav {
    margin-top: 60px;
}

.nav .primary-nav li {
    margin: 1.6em 0;
}

.nav .primary-nav a {
    font-family: 'Poiret One', cursive;
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.3);
    display: inline-block;
}

.no-touch .nav .primary-nav a:hover,
.no-touch .nav .primary-nav a:active,
.no-touch .nav .primary-nav a:visited {
    text-decoration: none;
}

.no-touch .nav .primary-nav a:hover {
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.nav .contact-info {
    margin-top: 80px;
    visibility: visible;
}

.nav .contact-info li {
    font-family: 'Poiret One', cursive;
    margin-bottom: 1.5em;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.3);
}

.nav .contact-info a {
    color: #ffffff;
}

.nav .contact-info span {
    display: block;
}

.nav .contact-info li,
.nav .contact-info a,
.nav .contact-info span {
    font-size: 1.6rem;
}

@media only screen and (min-width: 1170px) {
    .nav .navigation-wrapper {
        padding: 62px 20%;
    }
    .nav .navigation-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }
    .nav .half-block {
        width: 50%;
        float: left;
    }
    .nav .primary-nav {
        margin-top: 0;
    }
    .nav h2 {
        font-size: 1.5rem;
        margin-bottom: 5.6em;
    }
    .nav .primary-nav li {
        margin: 2em 0;
    }
    .nav .primary-nav a {
        font-size: 4.4rem;
    }
    .nav .contact-info {
        margin-top: 120px;
        text-align: right;
        visibility: visible;
    }
    .nav .contact-info li {
        margin-bottom: 2.4em;
    }
    .nav .contact-info li,
    .nav .contact-info a,
    .nav .contact-info span {
        font-size: 2rem;
    }
    .team-info {
        margin-bottom: -6em;
    }
}

.team-info {
    position: relative;
    z-index: 5;
    top: 0;
    left: 0;
    height: 110%;
    margin-bottom: -3em;
    display: table;
    width: 100%;
    background-color: #000000;
}

.team-info-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    color: #ffffff;
    padding: 10%;
}

.team-info-body h1 {
    font-size: 5.9vh;
    font-weight: bold;
    color: #FF522B;
    padding-bottom: 40px;
}

.about-info {
    position: relative;
    z-index: 7;
    top: 0;
    left: 0;
    height: 100%;
    display: table;
    width: 100%;
    background-color: rgba(2, 37, 59, 1);
    /*background-image: repeating-linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../Images/AboutBack.jpg');*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.about-info-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    color: #ffffff;
    padding: 10%;
}

.about-info-body p {
    padding-bottom: 40px;
}

.about-info-body h1 {
    font-size: 5.9vh;
    color: #FF522B;
    font-weight: bold;
    padding-bottom: 40px;
}

.vision-info {
    position: relative;
    z-index: 7;
    top: 0;
    left: 0;
    height: 100%;
    display: table;
    width: 100%;
    background-color: #010f18;
}

.vision-info-body {
    display: table-cell;
    vertical-align: middle;
    font-size: 3vh;
    color: #ffffff;
    padding: 10%;
}

.vision-info-body h1 {
    font-size: 5.9vh;
    color: #FF522B;
    font-weight: bold;
    padding-bottom: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-js main {
    height: 100%;
    overflow: visible;
}

.no-js .nav {
    position: static;
    visibility: visible;
}

.no-js .nav .navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#particles-js {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 99.7%;
    left: 0;
    top: 0;
    /*background-color: #216b62;*/
    background-image: url("../Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}